<!DOCTYPE html>
<head>
<title>Gourmeet</title>    
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

{{!-- THE HEADER BUT IN PARTIALS --}}
  {{> header}}
  {{> searchbar}}



<!-- restaurant feed-->
  <div id="feed">
  {{#each restaurant}}
    <a href="/restaurant/{{_id}}">
      <div id = "feed-content">
        <img src="../img/{{rPhoto}}" class = "feed-content-photo" />
        <div id="feed-content-right"> 
          <h1 class = "restaurant-name">{{rName}}  </h1>
          <h1 class = "restaurant-branch">{{rCity}} City</h1>
          <h1 class="restaurant-type-cuisine">{{rType}} | {{rCuisine}} </h1>
          <h1 class="restaurant-serves">Serves: {{rServes}}   </h1>
        </div>

        <div id="feed-content-overall-rate">
          <img  src="../img/red-star.png" width = "30px" height = "30px" /> 
          <h1 class = "overall-rate">{{rOverallRate}}/10</h1>
        </div>
      </div>
    </a>
  {{/each}}
  </div>
<!-- END restaurant feed-->
</body>
</html>




