<!DOCTYPE html>
<head>
	<title></title>
    
  <link rel="stylesheet" type="text/css" href="../css/reviewPage.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	{{!-- ajax for header --}}
  <script src="/js/header.js" type="text/javascript"></script> 
  <script src="/js/userreviews.js" type="text/javascript"></script> 
  
</head>

<body>

    <!-- index header-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id =  "navbardesign">
        <a class="navbar-brand" href="/"> <img src = "/img/logo.png" id = "web-logo"/></a>
        <a class="navbar-brand" href="/" id = "web-name">GourMeet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav mr-right nav-right-margin">
            {{!-- <div id = "login-register-group"> --}}
                <button class="btn my-2" type="submit" id = "header-login" onclick="window.location.href = '/login';">login</button>     
                <button class="btn btn-outline-light btn-light my-2" onclick="window.location.href = '/register';" id = "header-register" type="submit" >register</button>
            {{!-- </div> --}}
            
            <li class="nav-item active">
                <div class="dropdown">
                <a class="nav-link dropdown-toggle middlee" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="hello-uname"> 
                    Hello, <span id = "helloname">{{sessionUname}}</span>!
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user">Profile</a>
                    <a class="dropdown-item" href="/useraccountsetting">Account Settings</a>
                    <a class="dropdown-item" href="/logout">logout</a>
                </div>
                </div>
            </li>
        </ul>
        </div>
    </nav>

    

    <!-- END index header-->
  

  {{> searchbar}}

  <div id="feed">
    <!--User Page Header-->
    <div id = "user-content">
        <img src="/img/{{upic}}" class = "user-content-photo" />
        <div id="user-content-right"> 
            <h1 class = "user-name">{{uname}}</h1>
            <h1 class = "user-location">{{ucity}}</h1>
            <h1 class="user-preference">Prefers | {{utype}}</h1>
            <h1 class="user-likes">Likes: {{ulikes}}</h1>
        </div>
    </div>


    <!-- container for the reviews-entry (reviews) -->
    <div id="reviews"> 
      <h1>Reviews ({{numReviews}})</h1>
      {{#each reviewsRest}}<br>
      <div id = "reviews-entry">
        <!-- the header of the review -->
            <div id = "entryheader">
                <img class = "userphoto up-med" src="../img/{{rPhoto}}" />
                <table name = "review-entry-name-date" class="entryheaderdateandname">
                <tr>
                    <td  class = "entryheadername" name="reviewer-name">{{rName}} ({{restaurantName}})</td>
                    <td  class = "overall-rating" name="overall-rating" rowspan="2">Overall Review: {{rOverallRate}}/10</td>
                    <td class="headerbuttons"> 
                      
                    </td>
                </tr>
                <tr>
                    <td class = "entryheaderdate" id = "entryheaderdate" name="review-date">{{pubdate}}</td>
                    <td class="headerbuttons"> 
                      {{!-- <form method="delete"> --}}
                        
                      {{!-- </form> --}}
                      
                    </td>
                </tr>
                </table>
            </div>
        <!-- END the header of the review -->
        
        <div id = "review-entry-main">

              <div id="updownvotes" class="">
                <span class="upvote"></span>
                <p class = "num-votes">{{votes}}</p>
                <span class="downvote"></span>

                <p  hidden class="reviewID" id="reviewID">{{_id}}</p>  {{!-- this just stores reviewID for backend part of the upvotes and downvotes --}}
              </div>  
          
          <div id ="review-entry-right">

              <!-- the 3 category ratings -->
              <div id = "ratings">
                <table name = "review-entry-name-date" class="review-ratings">
                  <tr>
                    <td  class = "review-food-rating" name="review-food-rating" >Food: {{foodrate}}/10</td>
                    <td class = "review-service-rating" name="review-service-rating">Service: {{servicerate}}/10</td>
                    <td class = "review-environment-rating" name="review-environment-rating">Environment: {{envrate}}/10</td>
                  </tr>
                </table>
              </div>
              <!-- END the 3 category ratings -->

              <div id = "review-text">
                {{reviewText}}

              </div>
              
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <!-- END container for the reviews-entry (reviews) -->
  </div>

</body>
</html>




