<!DOCTYPE html>
<head>
  <title>Edit Review</title>    
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="../css/reviewPage.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body >

    

  <!-- add review form -->
  <div id = "add-review-pane">
    <div id="add-review-header">
      <h2>Edit a Review</h2>
    </div>
    
    <div id="add-review-main">
      <div id="add-review-left">

      </div>


      <div id="add-review-right">

        <form method = "post" action = "/editreview">
          <div id="add-review-slider-container" class = "padding-10">
              <table>
                <tr>
                  <td><label for="foodRatingInputName">Food Rating</label></td>
                  <td><output name="foodRatingOutputName" id="foodRatingOutputID" >{{foodrate}}</output></td>
                  
                  <td><label for="foodRatingInputName">Service Rating</label></td>
                  <td><output name="serviceRatingOutputName" id="serviceRatingOutputID">{{servicerate}}</output></td>
                  
                  <td><label for="foodRatingInputName">Environment Rating</label></td>
                  <td><output name="environmentRatingOutputName" id="environmentRatingOutputID">{{envrate}}</output></td>

                </tr>

                <tr>
                  <td class="ratings-slider" colspan="2">
                    <input type="range" class = "slider" name="foodrate" id="foodRatingInputID" value="{{foodrate}}" min="1" max="10" oninput="foodRatingOutputID.value = foodRatingInputID.value">
                  </td>
                  <td  class="ratings-slider" colspan="2">
                    <input type="range" class = "slider" name="servicerate" id="serviceRatingInputID" value="{{servicerate}}" min="1" max="10" oninput="serviceRatingOutputID.value = serviceRatingInputID.value">
                  </td>
                  <td   class="ratings-slider" colspan="2">
                    <input type="range" class = "slider" name="envrate" id="environmentRatingInputID" value="{{envrate}}" min="1" max="10" oninput="environmentRatingOutputID.value = environmentRatingInputID.value">
                  </td>
                </tr>

            </table>
                  

          </div>
          <div id = "add-review-text">
            <textarea rows = "5" cols = "60" name = "reviewText" id = "reviewText" placeholder="Describe your experience... ">{{reviewText}}</textarea>
            <p id = "errorreview"></p>
          </div>
          <input type ="hidden" name = "reviewID" value="{{reviewID}}" />
          <button type="submit" class="btn add-review-button" id= "register-header">Publish Review</button>
        </form>

      </div>
    </div>
  </div>
<!-- END add review form -->

<script type = "text/javascript">
  function validReview(review, val)
		{
		valid = val;
			if (review.val() == ""){
			valid = false;
				$('#reviewText').css({
							'border' : '1.5px solid #FF0000'
				})
				$('#errorreview').text('* review is required');
			}
			else {
				$('#reviewText').css({
							'border' : '1px solid #DDDDDD'
				})
				$('#errorreview').text("");
            }
            return valid;
		}

  $("#register-header").click(function(){
		var valid = true;
		valid = validReview($("#reviewText"), valid);
    window.close();
	});

   
</script>

</body>
</html>