<!DOCTYPE html>
<head>
	<title></title>
    
  <link rel="stylesheet" type="text/css" href="../css/reviewPage.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	{{!-- ajax for header --}}
  <script src="/js/header.js" type="text/javascript"></script> 
  <script src="/js/userreviews.js" type="text/javascript"></script> 
  {{!-- <script src="/js/review.js" type="text/javascript"></script> --}}
  
</head>

<body>
  
{{!-- THE HEADER BUT IN PARTIALS --}}
  {{> header}}
  {{> searchbar}}

  <div id="feed">
    <!--User Page Header-->
    <div id = "user-content">
        <img src="/img/{{upic}}" class = "user-content-photo" />
        <div id="user-content-right"> 
            <h1 class = "user-name">{{uname}}</h1>
            <h1 class = "user-location">{{ucity}}</h1>
            <h1 class="user-preference">Prefers | {{utype}}</h1>
            <h1 class="user-likes">Likes: {{ulikes}}</h1>
        </div>
    </div>


    <!-- container for the reviews-entry (reviews) -->
    <div id="reviews"> 
      <h1>Reviews </h1>
      {{#each reviewsRest}}<br>
      {{> userreviews}}
    {{/each}}
    </div>
    <!-- END container for the reviews-entry (reviews) -->
  </div>

  {{!-- FOR THE MODAL NG EDIT REVIEW --}}
<div class = "bg-modal" >
    <div class = "modal-contents">
      {{!-- <span id = "closeBtn">+</span> --}}
      <!-- add review form -->
      <div id = "add-review-pane-modal">
        <div id="add-review-header">
          <h2>Edit a Review</h2>
          <span id = "closeBtn">+</span>
        </div>
        
        <div id="add-review-main">
          <div id="add-review-left">

          </div>


          <div id="add-review-right">

            <form method = "post" action = "/editreview">
              <div id="add-review-slider-container" class = "padding-10">
                  <table>
                    <tr>
                      <td><label for="foodRatingInputName">Food Rating</label></td>
                      <td><output name="foodRatingOutputName" id="modalfoodRatingOutputID" ></output></td>
                      
                      <td><label for="foodRatingInputName">Service Rating</label></td>
                      <td><output name="serviceRatingOutputName" id="modalserviceRatingOutputID"></output></td>
                      
                      <td><label for="foodRatingInputName">Environment Rating</label></td>
                      <td><output name="environmentRatingOutputName" id="modalenvironmentRatingOutputID"></output></td>

                    </tr>

                    <tr>
                      <td class="ratings-slider" colspan="2">
                        <input type="range" class = "slider" name="foodrate" id="modalfoodRatingInputID" value="" min="1" max="10" oninput="modalfoodRatingOutputID.value = modalfoodRatingInputID.value">
                      </td>
                      <td  class="ratings-slider" colspan="2">
                        <input type="range" class = "slider" name="servicerate" id="modalserviceRatingInputID" value="" min="1" max="10" oninput="modalserviceRatingOutputID.value = modalserviceRatingInputID.value">
                      </td>
                      <td   class="ratings-slider" colspan="2">
                        <input type="range" class = "slider" name="envrate" id="modalenvironmentRatingInputID" value="" min="1" max="10" oninput="modalenvironmentRatingOutputID.value = modalenvironmentRatingInputID.value">
                      </td>
                    </tr>

                </table>
                      

              </div>
              <div id = "add-review-text">
                <textarea rows = "5" cols = "60" name = "reviewText" id = "modalreviewText" placeholder="Describe your experience... ">{{reviewText}}</textarea>
                <p id = "modalerrorreview"></p>
              </div>
              <input type ="hidden" name = "reviewID" id = "modalreviewID" value="" />
              {{!-- <input type ="text" name = "modalreviewID" id = "modalreviewID" value="" /> --}}
              <button type="submit" class="btn add-review-button savebutton" id= "register-header">Save Review</button>
            </form>

          </div>
        </div>
      </div>
    <!-- END add review form -->
    </div>
  <div> 
  {{!-- END FOR THE MODAL NG EDIT REVIEW --}}

</body>
</html>




